#container{
     text-align: center; 
    background-color:yellow;
    color:blue;
    padding:10px 250px 500px 250px;
    margin:100px ;
}
#header{
font-size:3em;
text-align:top;
margin-bottom:200px;
}
#btn{
border:1px;
justify-content: center;
padding:10px 50px;
font-size:1.5em;
}
#opt,#question,#timer{
    color:black;
    line-height: 1em;
    font-size: 1.5em;
}
.button{
    border:0px;
    display:block;
align-items: center;
text-align:center;
background-color: yellow;
margin:auto;
margin-bottom:10px;
font-size:1.5em;
padding:5px 40px;
color:blue;


}
.button:hover{
background-color:white;
}
#quiz{
    line-height:2em;
    font-size:2em;
}